.main-chat
  .main-chat__header
    .main-chat__header__main
      .group-name 
        =@group.name
      %ul.main-chat__header__main__list
        member：
        %li.main-chat__header__main__member
        -@group.users.each do |user|
          =user.name
          
    .main-chat__header__edit-btn
      =link_to edit_group_path(@group) do 
        Edit  

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "form__post__form__message" , placeholder: "  type a message"
      = f.label :image, class: "form__post__form__input-box__image" do
        = icon('fas', 'image', class: "form__form__icon")
        = f.file_field :image, class: "hidden"
      = f.submit 'Send', class: 'form__post__form__submit'